body{
    background-color: #24353F;
}


.box{
    width: 55%;
    color: #17A2B8;
    box-shadow: 0px 0px 50px #000;
}



.box input{
    background-color: #24353F;
}


.box button:hover{
    color: white;
}

a{
    color: white;
    text-decoration: none;
}


a:hover{
    color: white;
    text-decoration: underline;
}


.amir{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}




@media screen and (max-width: 800px) {
 .box {
    width: 90%;
    margin: auto;
    color: #17A2B8;
    box-shadow: 0px 0px 50px #000;
 }   
}
